#root {
  max-width: 75vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-style: italic;
}

.quotes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.quote-card {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  box-shadow: 0 0 1rem #00000020;
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.quote-text {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.quote-download-button {
  font-family: Arial, Helvetica, sans-serif;
}

.quote-date {
  font-size: 0.875rem;
  color: #666;
}
